a {
  text-decoration: none;
  color: #000;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  height: 72px;
  border-bottom: 3px solid #af38ff;
  box-shadow: 0px 0px 10px #af38ff;
}

.app_label {
  margin-left: 25px;
  margin-right: 35px;
}

.menu_label {
  margin-left: 60px;
  cursor: pointer;
}

.toolbar_menu-icon {
  position: absolute;
  top: 20px;
  padding-left: 2px;
}

.toolbar_menu-block {
  display: flex !important;
}

.toolbar_user-menu--block {
  position: absolute; 
  height: 60px;
  right: 20px !important;
  width: 220px; 
  right: 100px;
}

.toolbar_user-menu-items {
  position: relative;
  display: flex;
  justify-content: space-between;
  right: 20px;
  top: 10px;
  padding-top: 2px;

  &.invis {
    display: none;
  }
}

.menu_label:hover > .toolbar_menu-icon{
  transition: .5s;
  transform: scale(1.1);
}


.menu_label:hover::after > .toolbar_menu-icon{
  transform: scale(1, 1);
}

.menu_label:hover > {
  border-bottom: 2px solid #fff;
}

.menu_label:after,
.menu_label:before {
border-bottom: 2px solid #af38ff;
box-shadow: 0px 0px 12px #af38ff, inset 15px 15px 15px #af38ff;
bottom: 0px;
content: " ";
display: block;
margin: 0 auto;
position: relative;
transition: all 280ms ease-in-out;
width: 0;
}

.menu_label:hover:after,
.menu_label:hover:before{
border-color: #af38ff;
transition: width 350ms ease-in-out;
width: 100%;
}

.menu_label:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

.user_avatar-block {
  display: flex;
  position: absolute;
  z-index: 1;
  right: -10px;
  height: 40px;
  width: 60px;
}

.user_avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: solid 1px #fff;
  margin-top: 10px;
  margin-left: 2px;
  position: relative;
}

.arrow-down {
  position: absolute;
  top: 20px;
  right: 60px;
  height: 10px;
  width: 10px;
}

.user_mini-photo {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

::ng-deep .mat-toolbar {
  width: 100%;
}

::ng-deep .cdk-overlay-container {
  top: 70px !important;
  text-align: right;
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
  right: 0 !important;
  align-items:flex-end !important;
  top: 0 !important;
  //width: 115px !important;
  height: 210px !important;
}