@import '~@angular/material/theming';

.auth_container {
    height: 400px;
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

.auth_block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.auth_input {
    width: 240px !important;
}

.confirm_buttons {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 0 !important;
}

.confirm_button {
    color: #af38ff;
    text-decoration: black;
    width: 104px;
}

.icon {
    color: black;
    height: 20px;
    width: 23px;
    font-size: 20px;
}

.invalid_email-message {
    text-align: left;
    padding-left: 30px;
    color: rgb(255, 47, 47);
}

.valid_email-message {
    text-align: left;
    padding-left: 30px;
    color: rgb(64, 253, 47);
}

.invalid_password-message {
    text-align: left;
    padding-left: 30px;
    color: rgb(255, 47, 47);
}

.valid_password-message {
    text-align: left;
    padding-left: 30px;
    color: rgb(64, 253, 47);
}

::ng-deep .mat-button-wrapper {
    color: black;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #af38ff !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #af38ff !important;
}

.mat-label {
    color: #af38ff !important;
}